/*GLOBAL VARIABLES */

* {
    font-size: 16px;
    font-family: 'Manrope', sans-serif;
}

body {
    background-color: hsl(218, 23%, 16%);
}

button {
    background-color: hsl(150, 100%, 66%);
    border-radius: 50%;
    padding: 0.9rem;
    display:flex;
    border: 0;
    cursor: pointer;
    position: absolute;
    justify-content: flex-end;
    bottom: -1.5rem;
}

button img {
    height: 1.2rem;
    width: 1.2rem;
}

button:hover {
    box-shadow: 0px 0px 1rem hsl(150, 100%, 66%);
    transition: 0.2s;
}

button:active {
    box-shadow: 0 0 2rem hsl(150, 100%, 66%);
    transition: 0.3s;
}

/* CLASS VARIABLES */

.container {
    height: 18rem;
    width: 30rem;
    text-align: center;
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: hsla(217, 19%, 38%, 0.7);
    border-radius: 10px;
    position: relative;
    padding: 1rem;
    margin: 15% auto;
}


.advice {
    font-size: 0.7rem;
    color:hsl(150, 100%, 66%);
    letter-spacing: 0.3rem;
}


.quote {
    font-size: 28px;
    color: hsl(193, 38%, 86%);
}

/*ID VARIABLES */

#desktop-divider {
    width: 80%;
    position: relative;
    z-index: 1;
}





/* Attribution section */

.attribution { 
    font-size: 11px;
    text-align: center; 
}
.attribution a {
    color: hsl(228, 45%, 44%); 
}